.selector-for-some-widget {
  box-sizing: content-box;
}
.djknv img {
  padding: 0px;
  margin: -31px;
  height: 116px;
  width: 151px;
  margin-left: 15px;
}

.yerse button {
  border: 0px;
}
svg.bi.bi-search {
  padding: 0px;
  margin: 10px;
}
.iuewgjbv {
  display: flex;
  padding: 2px;
  margin: 2px;
}

button.btn.btn-outline-success {
  margin-left: 10px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-danger {
  padding-left: 485px;
}
.dfbjid h6 {
  font-size: 45px;
  padding: 237px;
  margin: -100px;
}
.jdfhiw {
  height: 350px;
  width: 600px;
  margin-right: 100px;
  margin-top: 60px;
}

.jdfhiw img {
  height: 110%;
  width: auto;
  object-fit: cover;
}
button.btn.btn-outline-secondary {
  margin-left: 140px;
  margin-top: -130px;
}
.faooi h1 {
  text-align: center;
  font-size: 48px;
  font-family: revert;
}
.visertf img.rounded-circle {
  width: 260px;
  height: 240px;
}

.goodjsb {
  display: flex;
  padding: 60px;
  margin: -45px;
  margin-left: 106px;
}
.delluse p {
  padding: 25px;
  padding-left: 95px;
}

.delluserh p {
  padding-left: 65px;
  margin-top: 25px;
}
.delluserhjv p {
  padding-left: 55px;
  margin-top: 25px;
}
